.new-incident-container{
    width:100%;
    max-width: 1120px; /*largura maxima*/
    height: 100vh; /*faz preencher o corpo inteiro em altura*/
    margin:0 auto; /*faz o conteudo ficar centralizado na tela*/

    display:flex; /*Flex box layout é muito utilizado na web porque é mto facil fazer alinhamentos*/
    align-items: center; /*alinha verticamente*/
    justify-content: center; /*alinha horizontalmente*/
}

.new-incident-container .content{
    width:100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius: 8px;

    display:flex; /*Flex box layout é muito utilizado na web porque é mto facil fazer alinhamentos*/
    justify-content: space-between; /*joga a section pra esquerda, o form pra direita e coloca um espaço entre eles*/
    align-items: center; /*alinha verticamente*/
}

.new-incident-container .content section{
    width: 100%;
    max-width: 380px;
}

.new-incident-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-incident-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-incident-container .content form{
    width: 100%;
    max-width: 450px;
    
}
.new-incident-container .content form input,
.new-incident-container .content form textarea{
    margin-top: 8px;
}

